extends layout/layout

block content
  .row
    .col-md-8.post-main
      include include/post
      include comment
    .col-md-4.post-aside
      .post-aside-body
        img.avatar-max(src='http://tp2.sinaimg.cn/1177291417/180/5654264661/1')
        a.post-account-title(href='javascript:{}') 李亚川Apple
      .post-aside-badge
        .row
          .col-md-3
            .badge-baijia
          .col-md-3
            .badge-tuhao
          .col-md-3
            .badge-quangui
          .col-md-3
            .badge-yinzhang
      .aside-widget
        header
          h3 主题列表
        .aside-widget-body
          ul.aside-widget-list
            li
              a(href='javascript:{}') Email Encryption Explained
            li
              a(href='javascript:{}') Email Encryption Explained