extends layout/layout

block content
  .row
    .col-md-8.post-main
      include include/post
      include comment
    .col-md-4.post-aside
      a.aside-avatar.circle-img(href='javascript:{}')
        .img.circle-img-show
          img.avatar-max(src="http://tp2.sinaimg.cn/1177291417/180/5654264661/1")
        .circle-img-info
          .circle-img-info-text 李亚川Apple
      .aside-user-info-box
        a.aside-user-info(href='javascript:{}')
          .glyphicon.glyphicon-user
          |  李亚川Apple
        .aside-user-info
          .glyphicon.glyphicon-map-marker
          |  北京，朝阳
        .aside-user-info
          .glyphicon.glyphicon-envelope
          |  applesstt@gmail.com
        a.aside-user-info(href='javascript:{}')
          .glyphicon.glyphicon-link
          |  weibo.com/applesstt
        .aside-user-info
          .glyphicon.glyphicon-fire
          |  轻度文艺风、中度科技粉、重度强迫症患者
      .aside-badge
        .row
          .col-md-3
            .badge-yinzhang
          .col-md-3
            .badge-baijia
          .col-md-3
            .badge-tuhao
          .col-md-3
            .badge-quangui
      .aside-widget
        header
          h3 主题列表
        .aside-widget-body
          ul.aside-widget-list
            li
              a(href='javascript:{}') 无与伦比的机械之美
            li
              a(href='javascript:{}') 北美电器 AB-PN4810 面包机