- if(typeof post.comments !== 'undefined' && post.comments.length > 0)
  .panel
    - for(var i = 0; i < post.comments.length; i++)
      .panel-body
        p
          a(href = '#{post.comments[i]["website"]}')= post.comments[i]['name']
        p #{post.comments[i]['content']}
form(method = 'post', enctype = 'multipart/form-data')
  - if(user)
    .form-group
      input.form-control(name = 'name', id='user-name', value = '#{user.name}', placeholder='姓名')
    .form-group
      input.form-control(name = 'email', id='user-email', value = '#{user.email}', placeholder='邮箱')
  - else
    .form-group
      input.form-control(name = 'name', id='user-name', placeholder = '姓名')
    .form-group
      input.form-control(name = 'email', id='user-email', placeholder = '邮箱')
  .form-group
    input.form-control(name = 'website', id='user-website', placeholder = '网址')
  .form-group
    textarea.form-control(name = 'content', placeholder='评论')
  .form-group
    input.btn.btn-primary(type = 'submit', value = '发布')