- if(typeof post.comments !== 'undefined' && post.comments.length > 0)
  p
    - for(var i = 0; i < post.comments.length; i++)
      .panel
        a.text-right(href = '#{post.comments[i]["website"]}')= post.comments[i]['name']
        p #{post.comments[i]['content']}
form(method = 'post', enctype = 'multipart/form-data')
  - if(user)
    .form-group
      label(for='user-name') 姓名：
      input.form-control(name = 'name', id='user-name', value = '#{user.name}')
    .form-group
      label(for='user-email') 邮箱：
      input.form-control(name = 'email', id='user-email', value = '#{user.email}')
  - else
    .form-group
      label(for='user-name') 姓名：
      input.form-control(name = 'name', id='user-name', placeholder = '请输入姓名')
    .form-group
      label(for='user-email') 邮箱：
      input.form-control(name = 'email', id='user-email', placeholder = '请输入邮箱')
  .form-group
    label(for='user-website') 网址：
    input.form-control(name = 'website', id='user-website', placeholder = 'http://')
  .form-group
    textarea.form-control(name = 'content')
  .form-group
    input.btn.btn-primary(type = 'submit', value = '留言')