extends layout/layout

block content
  p 商品名称：MK II 移动起重机/Mobile Crane MK II
    br
    |商品型号：42009
    br
    |商品品牌：丹麦品牌LEGO乐高
    br
    |适合年龄：11岁以上
    br
    |主要材质：环保塑胶类
    br
    |商品保养：可清洗消毒
    br
    |包装规格：57.5*48*9cm
    br
    |颗 粒 数：2606
    br
    |人 偶 数：0
    br
    |发行年份：2013
    br
    |专柜价格：2299元
    br
    | 驱动支撑臂，吊臂伸缩，吊臂仰角调整及吊索收放。吊臂三段伸缩。另外前两轴和后两轴均有转向功能，估计中间那个轴跟8421一样带差速器与V8引擎联动
    br
    | 史上最大型的吊机，绝对不容错过！还有A/B模式！
  p 42009做为乐高2013年科技旗舰...2606零件霸气侧漏
    | 单电池仓 单马达  所有动作电动可控
    | 吊钩收放  吊臂伸缩  支撑臂伸缩 支撑臂展开  吊臂起降
  P 由于2600多粒的零件数量过于庞大，还是容易犯不少错误。再次告诫将要入手的朋友们：安装一定要严谨，仔细看说明书，特别是安装的顺序不要搞错！