extends layout/layout

block content
  h1= title
  form(method = 'post', enctype = 'multipart/form-data')
    .form-group
      label(for='edit_title') 标题
      input.form-control(name='title', id='edit_title', disabled, value='#{post["title"]}')
    - if(typeof post['image'] !== 'undefined' && post['image'] !== '')
      .form-group
        label 图片
        img.form-control-static(src='/upload/images/#{post["image"]}')
    .form-group
      label(for='edit_post') 正文
      textarea.form-control(name='post', id='edit_post', rows='20', cols='180') #{post.post}
    input.btn.btn-primary(type = 'submit', value='保存')