doctype 5
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    nav
      a(href='/') 首页
      a(href='/login') 登录
      a(href='/reg') 注册
    block content