doctype 5
html
  head
    title= title
    link(rel='stylesheet', media='screen', href='/vendor/bootstrap-3.0.0/css/bootstrap.css')
  body
    nav
      a(href='/') 首页
      if user
        a(href='/post') 发布
        a(href='/logout') 退出
      else
        a(href='/login') 登录
        a(href='/reg') 注册
    if success
      = success
    if error
      = error
    block content