.aside-avatar
  include user-avatar
.aside-user-info-box
  a.aside-user-info(href='javascript:{}')
    .glyphicon.glyphicon-user
    |  李亚川Apple
  .aside-user-info
    .glyphicon.glyphicon-map-marker
    |  北京，朝阳
  .aside-user-info
    .glyphicon.glyphicon-envelope
    |  applesstt@gmail.com
  a.aside-user-info(href='javascript:{}')
    .glyphicon.glyphicon-link
    |  weibo.com/applesstt
  .aside-user-info
    .glyphicon.glyphicon-fire
    |  轻度文艺风、中度科技粉、重度强迫症患者