.logo {
  float: left;
}
.account-box {
  float: right;
}
.account-box a {
  display: block;
  float: left;
}

.content {}
.content-info {}
.user-image {}
.content-title {}
.send-time {}

.content-item-list {}
.content-item {
  margin-top: 20px;
}
.content-item img {
  display: block;
  margin-top: 20px;
}