doctype html
html
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title= title
    link(rel='stylesheet', media='screen', href='http://cdn.staticfile.org/twitter-bootstrap/3.1.1/css/bootstrap.min.css')
    link(rel='stylesheet', href='/css/bootstrap-apl.css')
    //put other css files in css_content
    block css_content
  body
    nav.navbar.navbar-default.navbar-apl(role='navigation')
      .container
        .navbar-header
          button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-ex1-collapse')
            span.sr-only Toggle navigation
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a#logo.navbar-brand(href='/')
            span 败
            | 家党
        .collapse.navbar-collapse.navbar-ex1-collapse
          ul.nav.navbar-nav.navbar-right.navbar-nav-apl
            li
              a(href='javascript:{}')
                .glyphicon.glyphicon-glass
                |  品质生活
            li
              a(href='javascript:{}')
               .glyphicon.glyphicon-heart-empty
               |  爱好收藏
            li
              a(href='javascript:{}')
                .glyphicon.glyphicon-phone
                |  科技控
            li
              a(href='javascript:{}')
                .glyphicon.glyphicon-globe
                |  活动
            if user
              li
                a.navbar-nav-user(href='javascript:{}', title='#{user.name}')
                  .avatar-min-wrap
                    img.avatar-min(src='http://tp2.sinaimg.cn/1177291417/180/5654264661/1')
                    .user-msg-alert 1
              li
                a(href='/post')
                  .glyphicon.glyphicon-plus
                  |  发布
              li
                a(href='/logout')
                  .glyphicon.glyphicon-log-out
                  |  退出
            else
              li
                a(href='/login') 登录
              li
                a(href='/reg') 注册
    .subheader
      .container.clearfix
        .inspired
          .glyphicon.glyphicon-leaf
          |  Embrace and Drive Change
        .search-box
          script.
            var search = function() {
              s = document.getElementById('searchbox');
              if (s.value != "") {
                window.open('http://www.google.com/search?q=site:applesstt.com%20' + s.value, "_blank");
              }
              return false;
            }
          form(onsubmit='return search()')
            button.search-btn(type='submit')
              .glyphicon.glyphicon-search
            input#searchbox.search-field(type='text', placeholder='Search')
    - if((success && success.length > 0) || (error && error.length > 0))
      .container.alert.alert-success.alert-dismissable.top-alert
        button.close(data-dismiss="alert",aria-hidden="true") ×
        | #{(success && success.length > 0) ? success : error}

    #main.container
      block content

    footer.footer-apl
      .container.inspired
        .glyphicon.glyphicon-heart
        |  Inspired by
        a.footer-power(href='http://github.com/applesstt') applesstt
    script(src='http://cdn.staticfile.org/jquery/1.11.0/jquery.min.js')
    script(src='http://cdn.staticfile.org/twitter-bootstrap/3.1.1/js/bootstrap.min.js')
    script(src='http://cdn.staticfile.org/jquery.pjax/1.8.0/jquery.pjax.min.js')
    script(src='/js/common.js')
    script.
      $(function() {
        // error: $('a.pjax').pjax('#main', {fragment:'#main'})
        //$(document).pjax('a.pjax-main', '#main', {fragment: '#main'});
        $(document).pjax('a.pjax-main', '#main', {fragment: '#main'});
      });
    //put other js files in js_content
    block js_content