doctype html
html
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title= title
    link(rel='stylesheet', media='screen', href='http://cdn.staticfile.org/twitter-bootstrap/3.1.1/css/bootstrap.min.css')
    link(rel='stylesheet', href='/css/bootstrap-apl.css')
    //put other css files in css_content
    block css_content
  body
    nav.navbar.navbar-default.navbar-apl(role='navigation')
      .container
        .navbar-header
          button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-ex1-collapse')
            span.sr-only Toggle navigation
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a#logo.navbar-brand(href='/') Community

        .collapse.navbar-collapse.navbar-ex1-collapse
          ul.nav.navbar-nav.navbar-right.navbar-nav-apl
            if user
              li
                a(href='/post') 发布
              li
                a(href='/u/#{user.name}') #{user.name}
              li
                a(href='/logout') 退出
            else
              li
                a(href='/login') 登录
              li
                a(href='/reg') 注册
    .subheader
      .container Embrace and Drive Change
    - if((success && success.length > 0) || (error && error.length > 0))
      .container.alert.alert-info.alert-dismissable
        button.close(data-dismiss="alert",aria-hidden="true") ×
        | #{(success && success.length > 0) ? success : error}

    .container
      block content

    footer.footer-apl
      .container Power by
        a.footer-power(href='http://github.com/applesstt') applesstt
    script(src='http://cdn.staticfile.org/jquery/1.11.0/jquery.min.js')
    script(src='http://cdn.staticfile.org/twitter-bootstrap/3.1.1/js/bootstrap.min.js')
    //put other js files in js_content
    block js_content